@font-face{
    font-family:'BootsAndSpurs';
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}
header, footer{
    display: flex;
    background-color:#202020;
    color: #ffffff;
    text-align: center;
}
h1,
h2,
.logo{
    font-family: 'BootsAndSpurs', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.0em;
}
body{
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin:0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    }
.logo a{
    float: left;
    color: #ffffff;
    padding: 15px 39px;
    text-decoration: none;
    display: inline;
}
nav li{
    display: inline-block;
}
nav a{
    color: #ffffff;
    padding: 10px 27px;
    font-size: 1.8em;
}
nav a:hover{
    text-decoration: underline;
}
nav ul{
    padding: 30px;
    display: flex;
    margin-left: 25px;
}
.footer {
    text-align: center;
    padding: 20px;
}
/*Links*/
a {
    text-decoration: none;
}
.current{
    text-decoration: underline;
}
.cta-button, 
.cta-contactus{
    background-color:#BB0000;
    color: #ffffff;
    border-radius: 6px;
    padding: 15px 108px;
    font-size: 1em;
    text-transform: uppercase;
}
.review{
    background-color: #E8E8E8;
}    
.products{
    background-color: #FBFBFB;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    
}
.products img{
    grid-column: -1/1;
}
.products h2,
.products h3, 
.products p{
    grid-column: 1;
    font-size:0.9em;
    margin:5px;
}
.products--sale{
    display: flex;
}
.old-price{
    text-decoration: line-through;
}
.cta-view,
.cta-onsale{
    display: grid;
    color: #ffffff;
    border-radius: 6px;
    padding: 19px 26px;
    font-size: 0.8em;
    text-transform: uppercase;
    grid-row: 2/4;
    grid-column: 2;
    min-width: 51.2px;
    text-align: center;
    margin-top:10px;
}
.cta-view{
    background-color: #BB0000;
}
.cta-onsale{
    background-color: #127300;
}
/*Home page*/
.welcome{
    background-image: url('../images/home-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y:bottom;
    min-height: 70vh;
    position: relative;
}
.welcome__content{
    position: absolute;
    text-align: center;
    top: 100px;
    left: 100px;
}
.selling-points{
    margin: 50px auto;
}
.selling-points,
.reviews__content{
    display: flex;
    max-width: 1000px;
}
.selling-points > *,
.reviews__content > * {
    flex: 1;
}
.selling-points___images{
    width: 100%;
    border-radius: 100px;
}
.review,
.review__title{
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    text-align: center;
}
.review__title h2{
    text-align: center;
}
.reviews__content > * {
    text-align: left;
    margin: auto;
    justify-content: center;
}
.reviews__content div{
    margin: 50px;
}
.review div{
    flex: 1;
}
.review-img{
    width: 80px;
    border-radius: 50%;
    float: right;
}
.reviews__name{
    display: block;
}
.featured {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 10px;
}
.featured img {
    width: 100%;
}
.featured h2 {
    grid-column: -1/1;
}
/*Contact page*/
input,
select,
textarea{
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}
.textarea {
    height: 65%;
}
.contact {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}
.form-wrapper {
    display: flex;
    text-align: left;
}
.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*Adirondack Red*/
.product-specific {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}
.product-specific > * {
    flex: 1;
}
.product-specific__details{
    padding: 0px 30px;
}
.product-specific__details a{
    display: block;
    width: 95.767px;
    margin: auto;
}
.product-specific__price{
    font-size: 1.5em;
}
.product-image{
    width: 100%;
}
.product-image__thumbnail{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}
/*Guitars Page*/
.guitars{
    max-width: 1000px;
    margin:auto
}
.products-list{
    display:grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-gap: 20px;
}
.products img{
    width: 100%;
}